:root{
    font-size: 1px;
}

.navbar{
    background-color:red;
    height:60rem;
    font-size: 14rem;
}

.blocs_container{
    background-color:yellow;
    height:calc(100vh - 120rem);
    font-size:14rem;
    overflow:hidden;
}

.navigation_container{
    height:100%;
    border:1px solid blue;
    display:flex;
    transition:1000ms;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}

.bloc{
    background-color:rgba(0,0,0,0.5);
    flex-shrink: 0;
}

.footer{
    font-size:14rem;
    background-color:#3366cc;
    height:60rem;
}