:root{
    font-size: 1px;
}

.navbar{
    background-color:red;
    height:60rem;
    font-size: 14rem;
}

.blocs_container{
    background-color:yellow;
    height:calc(100vh - 120rem);
    font-size:14rem;
    overflow:hidden;
    z-index:-1;
}

.navigation_container{
    height:100%;
    background-color:rgb(27,28,32);
    display:flex;
    transition:1000ms;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}

.bloc{
    background-color:yellow;
    flex-shrink: 0;
}

.progress_bar_container{
    height:5rem;
    width:100vw;
    position:absolute;
    bottom:60rem;
    opacity:0.9;
    left:0;
    z-index:1;
    background-color:rgba(27,28,32,0.3)
}

.progress_bar{
    width:0;
    background-color:rgb(1, 224, 180);
    height:5rem;
    transition:1000ms;
}

.footer{
    font-size:14rem;
    background-color:#3366cc;
    height:60rem;
}