$white: #000000; 
$dark-grey : #2C3E50; 
$middle-grey: #82888A;
$light-grey: #DDDDDD; 
$grey-background: #EAEAEA;
$white: #ffffff; 
$yellow: #F8D03A;
$orange: #E5690F; 


* {
	font-family: 'Poppins';
}

body{
	padding:0;
	margin:0;
}